# Python Base Language Quick Reference

## Table of contents

1. <a href="#1.-Imports">Imports</a>
2. <a href="#2.-Simple-Data-Types">Simple Data Types</a>
3. <a href="#3.-Math">Math</a>
4. <a href="#4.-Comparisons-and-Boolean-Operations">Comparisons and Boolean Operations</a>
5. <a href="#5.-Conditional-Statements">Conditional Statements</a>
6. <a href="#6.-For-Loops-and-While-Loops">For Loops and While Loops</a>
7. <a href="#7.-Defining-Functions">Defining Functions</a>
8. <a href="#8.-Anonymous-Functions">Anonymous (Lambda) Functions</a>
9. <a href="#9.-Slicing">Slicing</a>
10. <a href="#10.-Exceptions">Exceptions</a>

## 1. Imports

In [3]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [4]:
# import a function
from math import sqrt
sqrt(25)  # no longer have to reference the module

5.0

In [5]:
# import multiple functions at once
from math import cos, floor

# import all functions in a module (generally discouraged)
from csv import *

# define an alias
import datetime as dt

## 2. Simple Data Types

**Determine type of an object**

In [6]:
print(type(2)) #int

<type 'int'>

In [7]:
type(2.0) #float

float

In [8]:
type("two") #string

str

In [9]:
type(True) # bool

bool

In [10]:
type(None) #NoneType

NoneType

**Check if an object is of a given type**

In [11]:
isinstance(2.0, float)

True

In [12]:
isinstance("two", (float, str))

True

**Convert an object to a given type**

In [13]:
float(2)

2.0

In [14]:
int(2.9)

2

In [15]:
str(2.9)

'2.9'

**Zero, None and empty containers are converted to False:**

In [16]:
bool(0)

False

In [17]:
bool(None)

False

In [18]:
bool('') # empty string

False

In [19]:
bool({}) # empty dictionary

False

**Non-Empty containers and non-zeros are converted to True**

In [20]:
bool(2)

True

In [21]:
bool('two')

True

In [22]:
 bool([2])

True

In [23]:
bool({'key':'val'})

True

## 3. Math

In [24]:
10 ** 4 # exponent

10000

In [25]:
5 % 4 # modulo

1

In [26]:
# previous versions of python did integer division
# python 3 coerces values into floats
10/4

2

In [27]:
10 // 4 # floor division

2

## 4. Comparisons and Boolean Operations

In [28]:
x = 5

In [29]:
x != 3

True

In [30]:
x >= 5 and x < 10

True

In [31]:
x < 5 or x ==5

True

## 5. Conditional Statements

In [32]:
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [33]:
#single-line if
if x > 0: print('positive')

positive

In [34]:
#single line if/else statement (ternary operator)
'positive' if x > 0 else 'zero or negative'

'positive'

## 6. For Loops and While Loops

**range returns a sequence of integers from 0 to n-1**

In [35]:
# includes the start value but not the stop value [start, end)
range(0,3) #[0, ,1, 2]
rng = range(0,3)
list(rng)

[0, 1, 2]

In [36]:
# default start is 0
rng = range(3)
list(rng)

[0, 1, 2]

In [37]:
#third argument is a step value
rng = range(0,5,2)
list(rng)

[0, 2, 4]

**for loops:**

In [38]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [39]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [40]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print( key,value)

('dad', 'homer')
('mom', 'marge')
('size', 6)

In [41]:
# use enumerate if you need to access the index value within the loop
for index,fruit in enumerate(fruits):
    print(index,fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

**for/else loop:**

In [42]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

**while loop:**

In [43]:
count = 0
while count < 5:
    print('printing %s time(s)' % count)
    count += 1

printing 0 time(s)
printing 1 time(s)
printing 2 time(s)
printing 3 time(s)
printing 4 time(s)

## 7. Defining Functions

**Define a function with no arguments and no return values:**

In [44]:
def print_text():
    print('this is text')

In [45]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [46]:
def print_this(x):
    print (x)
    
print_this(3)

3

In [47]:
# prints 3 but does not assign 3 to n because the function has no return statement
n = print_this(3)

3

**Define a function with one argument and one return value:**

In [48]:
def square_this(x):
    return x**2

In [49]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

square_this(3)

9

In [50]:
# assigns 9 to var but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [51]:
def calc(a, b, op='add'):
    if op == 'add':
        return a+b
    elif op == 'sub':
        return a-b
    else:
        print('valid operations are add and sub')

calc(10,4, op='add')

14

In [52]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [53]:
# default for app is 'add'
calc(10,4)

14

In [54]:
calc(10,4,'sub')

6

In [55]:
calc(10,4,'div')

valid operations are add and sub

**Use **pass** as a placeholder if you haven't written the function body:**

In [56]:
def stub():
    pass

**Return two values from a single function:**

In [57]:
def min_max(nums):
    return min(nums), max(nums)

In [58]:
# return values can be assigned into multiple variables using tuple unpacking
nums = [3, 6, 5, 8, 2, 19, 7]

min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

2
19

** Function taking an arbitrary number of arguments **

In [59]:
def print_all(seperator, *args):
    print(seperator.join(args))
    
print_all(',', 'first','second','third')

first,second,third

**Unpacking iterables into positional function arguments (star operator)**

In [60]:
# range takes start and stop parameters
list(range(3, 6))            # normal call with separate arguments
[3, 4, 5]

[3, 4, 5]

In [79]:
# can also pass start and stop arguments using argument unpacking
args = [3,6]  #can be used on tuple too
list(range(*args))

[3, 4, 5]

**Unpacking dictionaries into named arguments (double-star operator)**

In [78]:
# a dictionary can be unpacked into names arguments with the ** / double star operator

from collections import namedtuple

Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])

# Create a prototype instance
stock_prototype = Stock('', 0, 0.0, None, None)

# Function to convert a dictionary to a Stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)

a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

**Generator functions with yield**

In [63]:
def myrange(n):
    for i in range(n):
        yield i

max(myrange(5))

4

**Define a function that take a callable (function) as a parameter):**

In [64]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

a = [1, 5, 2, 1, 9, 1, 5, 10]
list(dedupe(a))

[1, 5, 2, 9, 10]

## 8. Anonymous Functions

**Primarily used to temporarily define a function for use by another function**

In [65]:
# define a function the 'usual' way
def squared(x):
    return x**2

In [66]:
# define an identical function using lambda
squared = lambda x: x**2

In [67]:
#without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [68]:
# using lambda
sorted(simpsons, key = lambda word: word[-1])

['marge', 'homer', 'bart']

## 9. Slicing

In [69]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [70]:
weekdays[0]

'mon'

In [71]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [72]:
# starting point implied to be zero
weekdays[:3]

['mon', 'tues', 'wed']

In [73]:
# elements 3 (inclusive) through implied end
weekdays[3:]

['thurs', 'fri']

In [74]:
# last element
weekdays[-1]

'fri'

In [75]:
# eveery second element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [76]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

## 10. Exceptions

In [77]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False

list(filter(is_int, values))

['1', '2', '-3', '4', '5']