# Python Tuples Reference

## Table of contents

1. <a href="#1.-Creation">Creation</a>
2. <a href="#2.-Basic-Operations">Basic Operations</a>
3. <a href="#3.-Unpacking">Unpacking</a>
4. <a href="#4.-Comparing">Comparing</a>
5. <a href="#5.-Named-Tuples">Named Tuples</a>

## 1. Creation

In [1]:
# Create a tuple directly
digits = (0, 1, 'two')
digits

(0, 1, 'two')

In [2]:
# Create a tuple from a list
digits = tuple([0, 1, 'two'])
digits

(0, 1, 'two')

In [3]:
# For a single item tuple, a trailing comma is required to tell the intepreter its a tuple
zero = (0,)
zero

(0,)

## 2. Basic Operations

In [4]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [5]:
#concatenate tuples
digits = digits + (3,4)
digits

(0, 1, 'two', 3, 4)

In [6]:
# Create a single tuple with elements repeated (also workss with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [7]:
# sort a list of tuples
tens = [(20,60), (10,40), (20,30)]
sorted(tens) #sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

## 3. Unpacking

In [8]:
bart = ('male', 10, 'simpson') # create a tuple
(sex, age, surname) = bart
print(sex)
print(age)
print(surname)

male
10
simpson

In [9]:
#use the star expression to load multiple values into a list
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
name, email, *phone_numbers = record
phone_numbers

['773-555-1212', '847-555-1212']

In [10]:
# star expressions can be used in the middle of the iterable too!
def drop_first_last(grades):
    first, *middle, last = grades
    return float(sum(middle)) / len(middle)

drop_first_last([3, 8, 8, 8, 8, 8,8, 100])

8.0

## 4. Comparing

In [11]:
# Tuples are compared by comparing their members in order
(3,9) < (5,3)

True

In [12]:
(3,'banana') < (3,'apple')

False

In [13]:
(3,'banana') == (3,'ban')

False

In [14]:
# Tuple members are only compared if needed.
# Here is an uncomparable type
class mytype:
    def go():
        pass

a = mytype()
b = mytype()

(3, a) < (5,b)

True

In [15]:
# but the folllowing code would generate an error because a and b would need to be evaluated

#(3,a) < (3,b)

## 5. Named Tuples

collections.namedtuple() is a factory method that returns a subclass of the standard Python tuple type. You feed it a type name, and the fields it should have, and it returns a class that you can instantiate, passing in values for the fields youâ€™ve defined, and so on.

In [17]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber', ['addr','joined']) # namedtuple(<tuple-name>, [field1, field2, field3...])
jonesy = Subscriber('jonesy@example.com','2012-10-19')
jonesy

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [18]:
len(jonesy)

2

In [19]:
jonesy.addr

'jonesy@example.com'

In [20]:
# because a namedtuple is a tuple it is immutable.  
# the following code would fail if uncommented

#jonesy.addr='another@example.com'